/* Stylesheet used by the portal to override certain styles when using Content Mode container options with multiple columns on a page. */
.sv-portal-2-col .sv-col-sm-1, .sv-portal-2-col .sv-col-sm-2, .sv-portal-2-col .sv-col-sm-3, .sv-portal-2-col .sv-col-sm-4, .sv-portal-2-col .sv-col-sm-5, .sv-portal-2-col .sv-col-sm-6, .sv-portal-2-col .sv-col-sm-7, .sv-portal-2-col .sv-col-sm-8, .sv-portal-2-col .sv-col-sm-9, .sv-portal-2-col .sv-col-sm-10, .sv-portal-2-col .sv-col-sm-11, .sv-portal-2-col .sv-col-sm-12 {
  width: 100%;
}
.sv-portal-2-col .sv-col-sm-pull-1, .sv-portal-2-col .sv-col-sm-pull-2, .sv-portal-2-col .sv-col-sm-pull-3, .sv-portal-2-col .sv-col-sm-pull-4, .sv-portal-2-col .sv-col-sm-pull-5, .sv-portal-2-col .sv-col-sm-pull-6, .sv-portal-2-col .sv-col-sm-pull-7, .sv-portal-2-col .sv-col-sm-pull-8, .sv-portal-2-col .sv-col-sm-pull-9, .sv-portal-2-col .sv-col-sm-pull-10, .sv-portal-2-col .sv-col-sm-pull-11, .sv-portal-2-col .sv-col-sm-pull-12 {
  right: auto;
}
.sv-portal-2-col .sv-col-sm-push-1, .sv-portal-2-col .sv-col-sm-push-2, .sv-portal-2-col .sv-col-sm-push-3, .sv-portal-2-col .sv-col-sm-push-4, .sv-portal-2-col .sv-col-sm-push-5, .sv-portal-2-col .sv-col-sm-push-6, .sv-portal-2-col .sv-col-sm-push-7, .sv-portal-2-col .sv-col-sm-push-8, .sv-portal-2-col .sv-col-sm-push-9, .sv-portal-2-col .sv-col-sm-push-10, .sv-portal-2-col .sv-col-sm-push-11, .sv-portal-2-col .sv-col-sm-push-12 {
  left: auto;
}
.sv-portal-2-col .sv-col-sm-offset-1, .sv-portal-2-col .sv-col-sm-offset-2, .sv-portal-2-col .sv-col-sm-offset-3, .sv-portal-2-col .sv-col-sm-offset-4, .sv-portal-2-col .sv-col-sm-offset-5, .sv-portal-2-col .sv-col-sm-offset-6, .sv-portal-2-col .sv-col-sm-offset-7, .sv-portal-2-col .sv-col-sm-offset-8, .sv-portal-2-col .sv-col-sm-offset-9, .sv-portal-2-col .sv-col-sm-offset-10, .sv-portal-2-col .sv-col-sm-offset-11, .sv-portal-2-col .sv-col-sm-offset-12 {
  margin-left: 0;
}
.sv-portal-2-col .sv-col-md-1, .sv-portal-2-col .sv-col-md-2, .sv-portal-2-col .sv-col-md-3, .sv-portal-2-col .sv-col-md-4, .sv-portal-2-col .sv-col-md-5, .sv-portal-2-col .sv-col-md-6, .sv-portal-2-col .sv-col-md-7, .sv-portal-2-col .sv-col-md-8, .sv-portal-2-col .sv-col-md-9, .sv-portal-2-col .sv-col-md-10, .sv-portal-2-col .sv-col-md-11, .sv-portal-2-col .sv-col-md-12 {
  width: 100%;
}
.sv-portal-2-col .sv-col-md-pull-1, .sv-portal-2-col .sv-col-md-pull-2, .sv-portal-2-col .sv-col-md-pull-3, .sv-portal-2-col .sv-col-md-pull-4, .sv-portal-2-col .sv-col-md-pull-5, .sv-portal-2-col .sv-col-md-pull-6, .sv-portal-2-col .sv-col-md-pull-7, .sv-portal-2-col .sv-col-md-pull-8, .sv-portal-2-col .sv-col-md-pull-9, .sv-portal-2-col .sv-col-md-pull-10, .sv-portal-2-col .sv-col-md-pull-11, .sv-portal-2-col .sv-col-md-pull-12 {
  right: auto;
}
.sv-portal-2-col .sv-col-md-push-1, .sv-portal-2-col .sv-col-md-push-2, .sv-portal-2-col .sv-col-md-push-3, .sv-portal-2-col .sv-col-md-push-4, .sv-portal-2-col .sv-col-md-push-5, .sv-portal-2-col .sv-col-md-push-6, .sv-portal-2-col .sv-col-md-push-7, .sv-portal-2-col .sv-col-md-push-8, .sv-portal-2-col .sv-col-md-push-9, .sv-portal-2-col .sv-col-md-push-10, .sv-portal-2-col .sv-col-md-push-11, .sv-portal-2-col .sv-col-md-push-12 {
  left: auto;
}
.sv-portal-2-col .sv-col-md-offset-1, .sv-portal-2-col .sv-col-md-offset-2, .sv-portal-2-col .sv-col-md-offset-3, .sv-portal-2-col .sv-col-md-offset-4, .sv-portal-2-col .sv-col-md-offset-5, .sv-portal-2-col .sv-col-md-offset-6, .sv-portal-2-col .sv-col-md-offset-7, .sv-portal-2-col .sv-col-md-offset-8, .sv-portal-2-col .sv-col-md-offset-9, .sv-portal-2-col .sv-col-md-offset-10, .sv-portal-2-col .sv-col-md-offset-11, .sv-portal-2-col .sv-col-md-offset-12 {
  margin-left: 0;
}
.sv-portal-2-col .sv-col-lg-1, .sv-portal-2-col .sv-col-lg-2, .sv-portal-2-col .sv-col-lg-3, .sv-portal-2-col .sv-col-lg-4, .sv-portal-2-col .sv-col-lg-5, .sv-portal-2-col .sv-col-lg-6, .sv-portal-2-col .sv-col-lg-7, .sv-portal-2-col .sv-col-lg-8, .sv-portal-2-col .sv-col-lg-9, .sv-portal-2-col .sv-col-lg-10, .sv-portal-2-col .sv-col-lg-11, .sv-portal-2-col .sv-col-lg-12 {
  width: 100%;
}
.sv-portal-2-col .sv-col-lg-pull-1, .sv-portal-2-col .sv-col-lg-pull-2, .sv-portal-2-col .sv-col-lg-pull-3, .sv-portal-2-col .sv-col-lg-pull-4, .sv-portal-2-col .sv-col-lg-pull-5, .sv-portal-2-col .sv-col-lg-pull-6, .sv-portal-2-col .sv-col-lg-pull-7, .sv-portal-2-col .sv-col-lg-pull-8, .sv-portal-2-col .sv-col-lg-pull-9, .sv-portal-2-col .sv-col-lg-pull-10, .sv-portal-2-col .sv-col-lg-pull-11, .sv-portal-2-col .sv-col-lg-pull-12 {
  right: auto;
}
.sv-portal-2-col .sv-col-lg-push-1, .sv-portal-2-col .sv-col-lg-push-2, .sv-portal-2-col .sv-col-lg-push-3, .sv-portal-2-col .sv-col-lg-push-4, .sv-portal-2-col .sv-col-lg-push-5, .sv-portal-2-col .sv-col-lg-push-6, .sv-portal-2-col .sv-col-lg-push-7, .sv-portal-2-col .sv-col-lg-push-8, .sv-portal-2-col .sv-col-lg-push-9, .sv-portal-2-col .sv-col-lg-push-10, .sv-portal-2-col .sv-col-lg-push-11, .sv-portal-2-col .sv-col-lg-push-12 {
  left: auto;
}
.sv-portal-2-col .sv-col-lg-offset-1, .sv-portal-2-col .sv-col-lg-offset-2, .sv-portal-2-col .sv-col-lg-offset-3, .sv-portal-2-col .sv-col-lg-offset-4, .sv-portal-2-col .sv-col-lg-offset-5, .sv-portal-2-col .sv-col-lg-offset-6, .sv-portal-2-col .sv-col-lg-offset-7, .sv-portal-2-col .sv-col-lg-offset-8, .sv-portal-2-col .sv-col-lg-offset-9, .sv-portal-2-col .sv-col-lg-offset-10, .sv-portal-2-col .sv-col-lg-offset-11, .sv-portal-2-col .sv-col-lg-offset-12 {
  margin-left: 0;
}
.sv-portal-2-col .sv-col-xs-1, .sv-portal-2-col .sv-col-xs-2, .sv-portal-2-col .sv-col-xs-3, .sv-portal-2-col .sv-col-xs-4, .sv-portal-2-col .sv-col-xs-5, .sv-portal-2-col .sv-col-xs-6, .sv-portal-2-col .sv-col-xs-7, .sv-portal-2-col .sv-col-xs-8, .sv-portal-2-col .sv-col-xs-9, .sv-portal-2-col .sv-col-xs-10, .sv-portal-2-col .sv-col-xs-11, .sv-portal-2-col .sv-col-xs-12 {
  float: left !important;
}
.sv-portal-2-col .sv-col-xs-12 {
  width: 100% !important;
}
.sv-portal-2-col .sv-col-xs-11 {
  width: 91.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-10 {
  width: 83.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-9 {
  width: 75% !important;
}
.sv-portal-2-col .sv-col-xs-8 {
  width: 66.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-7 {
  width: 58.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-6 {
  width: 50% !important;
}
.sv-portal-2-col .sv-col-xs-5 {
  width: 41.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-4 {
  width: 33.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-3 {
  width: 25% !important;
}
.sv-portal-2-col .sv-col-xs-2 {
  width: 16.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-1 {
  width: 8.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-pull-12 {
  right: 100% !important;
}
.sv-portal-2-col .sv-col-xs-pull-11 {
  right: 91.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-pull-10 {
  right: 83.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-pull-9 {
  right: 75% !important;
}
.sv-portal-2-col .sv-col-xs-pull-8 {
  right: 66.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-pull-7 {
  right: 58.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-pull-6 {
  right: 50% !important;
}
.sv-portal-2-col .sv-col-xs-pull-5 {
  right: 41.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-pull-4 {
  right: 33.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-pull-3 {
  right: 25% !important;
}
.sv-portal-2-col .sv-col-xs-pull-2 {
  right: 16.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-pull-1 {
  right: 8.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-pull-0 {
  right: auto !important;
}
.sv-portal-2-col .sv-col-xs-push-12 {
  left: 100% !important;
}
.sv-portal-2-col .sv-col-xs-push-11 {
  left: 91.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-push-10 {
  left: 83.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-push-9 {
  left: 75% !important;
}
.sv-portal-2-col .sv-col-xs-push-8 {
  left: 66.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-push-7 {
  left: 58.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-push-6 {
  left: 50% !important;
}
.sv-portal-2-col .sv-col-xs-push-5 {
  left: 41.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-push-4 {
  left: 33.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-push-3 {
  left: 25% !important;
}
.sv-portal-2-col .sv-col-xs-push-2 {
  left: 16.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-push-1 {
  left: 8.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-push-0 {
  left: auto !important;
}
.sv-portal-2-col .sv-col-xs-offset-12 {
  margin-left: 100% !important;
}
.sv-portal-2-col .sv-col-xs-offset-11 {
  margin-left: 91.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-offset-10 {
  margin-left: 83.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-offset-9 {
  margin-left: 75% !important;
}
.sv-portal-2-col .sv-col-xs-offset-8 {
  margin-left: 66.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-offset-7 {
  margin-left: 58.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-offset-6 {
  margin-left: 50% !important;
}
.sv-portal-2-col .sv-col-xs-offset-5 {
  margin-left: 41.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-offset-4 {
  margin-left: 33.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-offset-3 {
  margin-left: 25% !important;
}
.sv-portal-2-col .sv-col-xs-offset-2 {
  margin-left: 16.66666667% !important;
}
.sv-portal-2-col .sv-col-xs-offset-1 {
  margin-left: 8.33333333% !important;
}
.sv-portal-2-col .sv-col-xs-offset-0 {
  margin-left: 0% !important;
}
@media (min-width: 1536px) {
  .sv-portal-2-col .sv-col-sm-1, .sv-portal-2-col .sv-col-sm-2, .sv-portal-2-col .sv-col-sm-3, .sv-portal-2-col .sv-col-sm-4, .sv-portal-2-col .sv-col-sm-5, .sv-portal-2-col .sv-col-sm-6, .sv-portal-2-col .sv-col-sm-7, .sv-portal-2-col .sv-col-sm-8, .sv-portal-2-col .sv-col-sm-9, .sv-portal-2-col .sv-col-sm-10, .sv-portal-2-col .sv-col-sm-11, .sv-portal-2-col .sv-col-sm-12 {
    float: left !important;
  }
  .sv-portal-2-col .sv-col-sm-12 {
    width: 100% !important;
  }
  .sv-portal-2-col .sv-col-sm-11 {
    width: 91.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-10 {
    width: 83.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-9 {
    width: 75% !important;
  }
  .sv-portal-2-col .sv-col-sm-8 {
    width: 66.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-7 {
    width: 58.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-6 {
    width: 50% !important;
  }
  .sv-portal-2-col .sv-col-sm-5 {
    width: 41.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-4 {
    width: 33.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-3 {
    width: 25% !important;
  }
  .sv-portal-2-col .sv-col-sm-2 {
    width: 16.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-1 {
    width: 8.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-pull-12 {
    right: 100% !important;
  }
  .sv-portal-2-col .sv-col-sm-pull-11 {
    right: 91.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-pull-10 {
    right: 83.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-pull-9 {
    right: 75% !important;
  }
  .sv-portal-2-col .sv-col-sm-pull-8 {
    right: 66.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-pull-7 {
    right: 58.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-pull-6 {
    right: 50% !important;
  }
  .sv-portal-2-col .sv-col-sm-pull-5 {
    right: 41.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-pull-4 {
    right: 33.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-pull-3 {
    right: 25% !important;
  }
  .sv-portal-2-col .sv-col-sm-pull-2 {
    right: 16.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-pull-1 {
    right: 8.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-pull-0 {
    right: auto !important;
  }
  .sv-portal-2-col .sv-col-sm-push-12 {
    left: 100% !important;
  }
  .sv-portal-2-col .sv-col-sm-push-11 {
    left: 91.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-push-10 {
    left: 83.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-push-9 {
    left: 75% !important;
  }
  .sv-portal-2-col .sv-col-sm-push-8 {
    left: 66.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-push-7 {
    left: 58.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-push-6 {
    left: 50% !important;
  }
  .sv-portal-2-col .sv-col-sm-push-5 {
    left: 41.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-push-4 {
    left: 33.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-push-3 {
    left: 25% !important;
  }
  .sv-portal-2-col .sv-col-sm-push-2 {
    left: 16.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-push-1 {
    left: 8.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-push-0 {
    left: auto !important;
  }
  .sv-portal-2-col .sv-col-sm-offset-12 {
    margin-left: 100% !important;
  }
  .sv-portal-2-col .sv-col-sm-offset-11 {
    margin-left: 91.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-offset-10 {
    margin-left: 83.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-offset-9 {
    margin-left: 75% !important;
  }
  .sv-portal-2-col .sv-col-sm-offset-8 {
    margin-left: 66.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-offset-7 {
    margin-left: 58.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-offset-6 {
    margin-left: 50% !important;
  }
  .sv-portal-2-col .sv-col-sm-offset-5 {
    margin-left: 41.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-offset-4 {
    margin-left: 33.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-offset-3 {
    margin-left: 25% !important;
  }
  .sv-portal-2-col .sv-col-sm-offset-2 {
    margin-left: 16.66666667% !important;
  }
  .sv-portal-2-col .sv-col-sm-offset-1 {
    margin-left: 8.33333333% !important;
  }
  .sv-portal-2-col .sv-col-sm-offset-0 {
    margin-left: 0% !important;
  }
}
@media (min-width: 1984px) {
  .sv-portal-2-col .sv-col-md-1, .sv-portal-2-col .sv-col-md-2, .sv-portal-2-col .sv-col-md-3, .sv-portal-2-col .sv-col-md-4, .sv-portal-2-col .sv-col-md-5, .sv-portal-2-col .sv-col-md-6, .sv-portal-2-col .sv-col-md-7, .sv-portal-2-col .sv-col-md-8, .sv-portal-2-col .sv-col-md-9, .sv-portal-2-col .sv-col-md-10, .sv-portal-2-col .sv-col-md-11, .sv-portal-2-col .sv-col-md-12 {
    float: left !important;
  }
  .sv-portal-2-col .sv-col-md-12 {
    width: 100% !important;
  }
  .sv-portal-2-col .sv-col-md-11 {
    width: 91.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-10 {
    width: 83.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-9 {
    width: 75% !important;
  }
  .sv-portal-2-col .sv-col-md-8 {
    width: 66.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-7 {
    width: 58.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-6 {
    width: 50% !important;
  }
  .sv-portal-2-col .sv-col-md-5 {
    width: 41.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-4 {
    width: 33.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-3 {
    width: 25% !important;
  }
  .sv-portal-2-col .sv-col-md-2 {
    width: 16.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-1 {
    width: 8.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-pull-12 {
    right: 100% !important;
  }
  .sv-portal-2-col .sv-col-md-pull-11 {
    right: 91.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-pull-10 {
    right: 83.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-pull-9 {
    right: 75% !important;
  }
  .sv-portal-2-col .sv-col-md-pull-8 {
    right: 66.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-pull-7 {
    right: 58.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-pull-6 {
    right: 50% !important;
  }
  .sv-portal-2-col .sv-col-md-pull-5 {
    right: 41.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-pull-4 {
    right: 33.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-pull-3 {
    right: 25% !important;
  }
  .sv-portal-2-col .sv-col-md-pull-2 {
    right: 16.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-pull-1 {
    right: 8.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-pull-0 {
    right: auto !important;
  }
  .sv-portal-2-col .sv-col-md-push-12 {
    left: 100% !important;
  }
  .sv-portal-2-col .sv-col-md-push-11 {
    left: 91.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-push-10 {
    left: 83.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-push-9 {
    left: 75% !important;
  }
  .sv-portal-2-col .sv-col-md-push-8 {
    left: 66.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-push-7 {
    left: 58.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-push-6 {
    left: 50% !important;
  }
  .sv-portal-2-col .sv-col-md-push-5 {
    left: 41.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-push-4 {
    left: 33.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-push-3 {
    left: 25% !important;
  }
  .sv-portal-2-col .sv-col-md-push-2 {
    left: 16.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-push-1 {
    left: 8.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-push-0 {
    left: auto !important;
  }
  .sv-portal-2-col .sv-col-md-offset-12 {
    margin-left: 100% !important;
  }
  .sv-portal-2-col .sv-col-md-offset-11 {
    margin-left: 91.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-offset-10 {
    margin-left: 83.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-offset-9 {
    margin-left: 75% !important;
  }
  .sv-portal-2-col .sv-col-md-offset-8 {
    margin-left: 66.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-offset-7 {
    margin-left: 58.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-offset-6 {
    margin-left: 50% !important;
  }
  .sv-portal-2-col .sv-col-md-offset-5 {
    margin-left: 41.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-offset-4 {
    margin-left: 33.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-offset-3 {
    margin-left: 25% !important;
  }
  .sv-portal-2-col .sv-col-md-offset-2 {
    margin-left: 16.66666667% !important;
  }
  .sv-portal-2-col .sv-col-md-offset-1 {
    margin-left: 8.33333333% !important;
  }
  .sv-portal-2-col .sv-col-md-offset-0 {
    margin-left: 0% !important;
  }
}
@media (min-width: 2400px) {
  .sv-portal-2-col .sv-col-lg-1, .sv-portal-2-col .sv-col-lg-2, .sv-portal-2-col .sv-col-lg-3, .sv-portal-2-col .sv-col-lg-4, .sv-portal-2-col .sv-col-lg-5, .sv-portal-2-col .sv-col-lg-6, .sv-portal-2-col .sv-col-lg-7, .sv-portal-2-col .sv-col-lg-8, .sv-portal-2-col .sv-col-lg-9, .sv-portal-2-col .sv-col-lg-10, .sv-portal-2-col .sv-col-lg-11, .sv-portal-2-col .sv-col-lg-12 {
    float: left !important;
  }
  .sv-portal-2-col .sv-col-lg-12 {
    width: 100% !important;
  }
  .sv-portal-2-col .sv-col-lg-11 {
    width: 91.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-10 {
    width: 83.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-9 {
    width: 75% !important;
  }
  .sv-portal-2-col .sv-col-lg-8 {
    width: 66.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-7 {
    width: 58.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-6 {
    width: 50% !important;
  }
  .sv-portal-2-col .sv-col-lg-5 {
    width: 41.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-4 {
    width: 33.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-3 {
    width: 25% !important;
  }
  .sv-portal-2-col .sv-col-lg-2 {
    width: 16.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-1 {
    width: 8.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-pull-12 {
    right: 100% !important;
  }
  .sv-portal-2-col .sv-col-lg-pull-11 {
    right: 91.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-pull-10 {
    right: 83.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-pull-9 {
    right: 75% !important;
  }
  .sv-portal-2-col .sv-col-lg-pull-8 {
    right: 66.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-pull-7 {
    right: 58.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-pull-6 {
    right: 50% !important;
  }
  .sv-portal-2-col .sv-col-lg-pull-5 {
    right: 41.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-pull-4 {
    right: 33.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-pull-3 {
    right: 25% !important;
  }
  .sv-portal-2-col .sv-col-lg-pull-2 {
    right: 16.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-pull-1 {
    right: 8.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-pull-0 {
    right: auto !important;
  }
  .sv-portal-2-col .sv-col-lg-push-12 {
    left: 100% !important;
  }
  .sv-portal-2-col .sv-col-lg-push-11 {
    left: 91.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-push-10 {
    left: 83.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-push-9 {
    left: 75% !important;
  }
  .sv-portal-2-col .sv-col-lg-push-8 {
    left: 66.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-push-7 {
    left: 58.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-push-6 {
    left: 50% !important;
  }
  .sv-portal-2-col .sv-col-lg-push-5 {
    left: 41.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-push-4 {
    left: 33.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-push-3 {
    left: 25% !important;
  }
  .sv-portal-2-col .sv-col-lg-push-2 {
    left: 16.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-push-1 {
    left: 8.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-push-0 {
    left: auto !important;
  }
  .sv-portal-2-col .sv-col-lg-offset-12 {
    margin-left: 100% !important;
  }
  .sv-portal-2-col .sv-col-lg-offset-11 {
    margin-left: 91.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-offset-10 {
    margin-left: 83.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-offset-9 {
    margin-left: 75% !important;
  }
  .sv-portal-2-col .sv-col-lg-offset-8 {
    margin-left: 66.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-offset-7 {
    margin-left: 58.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-offset-6 {
    margin-left: 50% !important;
  }
  .sv-portal-2-col .sv-col-lg-offset-5 {
    margin-left: 41.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-offset-4 {
    margin-left: 33.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-offset-3 {
    margin-left: 25% !important;
  }
  .sv-portal-2-col .sv-col-lg-offset-2 {
    margin-left: 16.66666667% !important;
  }
  .sv-portal-2-col .sv-col-lg-offset-1 {
    margin-left: 8.33333333% !important;
  }
  .sv-portal-2-col .sv-col-lg-offset-0 {
    margin-left: 0% !important;
  }
}
@media (max-width: 1535px) {
  .sv-portal-2-col .sv-form-horizontal .sv-control-label {
    text-align: inherit;
    margin-bottom: 5px;
    padding-top: initial;
  }
  .sv-portal-2-col .sv-form-horizontal .sv-static-text,
  .sv-portal-2-col .sv-form-horizontal .sv-checkbox-text,
  .sv-portal-2-col .sv-form-horizontal .sv-radio-text {
    text-align: initial;
    margin-bottom: initial;
    padding-top: initial;
  }
  .sv-portal-2-col .sv-form-horizontal .sv-form-btns .sv-btn {
    margin-bottom: 6px;
  }
}
@media (min-width: 1536px) {
  .sv-portal-2-col .sv-form-horizontal .sv-control-label,
  .sv-portal-2-col .sv-form-horizontal .sv-static-text,
  .sv-portal-2-col .sv-form-horizontal .sv-checkbox-text,
  .sv-portal-2-col .sv-form-horizontal .sv-radio-text {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
  .sv-portal-2-col .sv-form-horizontal .sv-form-btns .sv-btn {
    margin-bottom: 0;
  }
}
@media (max-width: 1535px) {
  .sv-portal-2-col .sv-table input.sv-form-control-xs,
  .sv-portal-2-col .sv-table input.sv-form-control-sm,
  .sv-portal-2-col .sv-table input.sv-form-control-md,
  .sv-portal-2-col .sv-table input.sv-form-control-lg {
    width: 100%;
  }
}
.sv-portal-2-col .sv.btn-container-inline .sv-col-sm-1, .sv-portal-2-col .sv.btn-container-inline .sv-col-sm-2, .sv-portal-2-col .sv.btn-container-inline .sv-col-sm-3, .sv-portal-2-col .sv.btn-container-inline .sv-col-sm-4, .sv-portal-2-col .sv.btn-container-inline .sv-col-sm-5, .sv-portal-2-col .sv.btn-container-inline .sv-col-sm-6, .sv-portal-2-col .sv.btn-container-inline .sv-col-sm-7, .sv-portal-2-col .sv.btn-container-inline .sv-col-sm-8, .sv-portal-2-col .sv.btn-container-inline .sv-col-sm-9, .sv-portal-2-col .sv.btn-container-inline .sv-col-sm-10, .sv-portal-2-col .sv.btn-container-inline .sv-col-sm-11, .sv-portal-2-col .sv.btn-container-inline .sv-col-sm-12 {
  width: 97%;
  width: calc( 100%  -  30px );
}
.sv-portal-2-col .sv.btn-container-inline .sv-col-md-1, .sv-portal-2-col .sv.btn-container-inline .sv-col-md-2, .sv-portal-2-col .sv.btn-container-inline .sv-col-md-3, .sv-portal-2-col .sv.btn-container-inline .sv-col-md-4, .sv-portal-2-col .sv.btn-container-inline .sv-col-md-5, .sv-portal-2-col .sv.btn-container-inline .sv-col-md-6, .sv-portal-2-col .sv.btn-container-inline .sv-col-md-7, .sv-portal-2-col .sv.btn-container-inline .sv-col-md-8, .sv-portal-2-col .sv.btn-container-inline .sv-col-md-9, .sv-portal-2-col .sv.btn-container-inline .sv-col-md-10, .sv-portal-2-col .sv.btn-container-inline .sv-col-md-11, .sv-portal-2-col .sv.btn-container-inline .sv-col-md-12 {
  width: 97%;
  width: calc( 100%  -  30px );
}
.sv-portal-2-col .sv.btn-container-inline .sv-col-lg-1, .sv-portal-2-col .sv.btn-container-inline .sv-col-lg-2, .sv-portal-2-col .sv.btn-container-inline .sv-col-lg-3, .sv-portal-2-col .sv.btn-container-inline .sv-col-lg-4, .sv-portal-2-col .sv.btn-container-inline .sv-col-lg-5, .sv-portal-2-col .sv.btn-container-inline .sv-col-lg-6, .sv-portal-2-col .sv.btn-container-inline .sv-col-lg-7, .sv-portal-2-col .sv.btn-container-inline .sv-col-lg-8, .sv-portal-2-col .sv.btn-container-inline .sv-col-lg-9, .sv-portal-2-col .sv.btn-container-inline .sv-col-lg-10, .sv-portal-2-col .sv.btn-container-inline .sv-col-lg-11, .sv-portal-2-col .sv.btn-container-inline .sv-col-lg-12 {
  width: 97%;
  width: calc( 100%  -  30px );
}
.sv-portal-2-col .sv-btn-container-inline .sv-col-xs-12 {
  width: 97% !important;
  width: calc( 100%  -  30px ) !important;
}
.sv-portal-2-col .sv-btn-container-inline .sv-col-xs-11 {
  width: 88.66666667% !important;
  width: calc( 91.66666667%  -  30px ) !important;
}
.sv-portal-2-col .sv-btn-container-inline .sv-col-xs-10 {
  width: 80.33333333% !important;
  width: calc( 83.33333333%  -  30px ) !important;
}
.sv-portal-2-col .sv-btn-container-inline .sv-col-xs-9 {
  width: 72% !important;
  width: calc( 75%  -  30px ) !important;
}
.sv-portal-2-col .sv-btn-container-inline .sv-col-xs-8 {
  width: 63.66666667% !important;
  width: calc( 66.66666667%  -  30px ) !important;
}
.sv-portal-2-col .sv-btn-container-inline .sv-col-xs-7 {
  width: 55.33333333% !important;
  width: calc( 58.33333333%  -  30px ) !important;
}
.sv-portal-2-col .sv-btn-container-inline .sv-col-xs-6 {
  width: 47% !important;
  width: calc( 50%  -  30px ) !important;
}
.sv-portal-2-col .sv-btn-container-inline .sv-col-xs-5 {
  width: 38.66666667% !important;
  width: calc( 41.66666667%  -  30px ) !important;
}
.sv-portal-2-col .sv-btn-container-inline .sv-col-xs-4 {
  width: 30.33333333% !important;
  width: calc( 33.33333333%  -  30px ) !important;
}
.sv-portal-2-col .sv-btn-container-inline .sv-col-xs-3 {
  width: 22% !important;
  width: calc( 25%  -  30px ) !important;
}
.sv-portal-2-col .sv-btn-container-inline .sv-col-xs-2 {
  width: 13.66666667% !important;
  width: calc( 16.66666667%  -  30px ) !important;
}
.sv-portal-2-col .sv-btn-container-inline .sv-col-xs-1 {
  width: 5.33333333% !important;
  width: calc( 8.33333333%  -  30px ) !important;
}
@media (min-width: 1536px) {
  .sv-portal-2-col .sv-btn-container-inline .sv-col-sm-12 {
    width: 97% !important;
    width: calc( 100%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-sm-11 {
    width: 88.66666667% !important;
    width: calc( 91.66666667%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-sm-10 {
    width: 80.33333333% !important;
    width: calc( 83.33333333%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-sm-9 {
    width: 72% !important;
    width: calc( 75%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-sm-8 {
    width: 63.66666667% !important;
    width: calc( 66.66666667%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-sm-7 {
    width: 55.33333333% !important;
    width: calc( 58.33333333%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-sm-6 {
    width: 47% !important;
    width: calc( 50%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-sm-5 {
    width: 38.66666667% !important;
    width: calc( 41.66666667%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-sm-4 {
    width: 30.33333333% !important;
    width: calc( 33.33333333%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-sm-3 {
    width: 22% !important;
    width: calc( 25%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-sm-2 {
    width: 13.66666667% !important;
    width: calc( 16.66666667%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-sm-1 {
    width: 5.33333333% !important;
    width: calc( 8.33333333%  -  30px ) !important;
  }
}
@media (min-width: 1984px) {
  .sv-portal-2-col .sv-btn-container-inline .sv-col-md-12 {
    width: 97% !important;
    width: calc( 100%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-md-11 {
    width: 88.66666667% !important;
    width: calc( 91.66666667%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-md-10 {
    width: 80.33333333% !important;
    width: calc( 83.33333333%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-md-9 {
    width: 72% !important;
    width: calc( 75%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-md-8 {
    width: 63.66666667% !important;
    width: calc( 66.66666667%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-md-7 {
    width: 55.33333333% !important;
    width: calc( 58.33333333%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-md-6 {
    width: 47% !important;
    width: calc( 50%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-md-5 {
    width: 38.66666667% !important;
    width: calc( 41.66666667%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-md-4 {
    width: 30.33333333% !important;
    width: calc( 33.33333333%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-md-3 {
    width: 22% !important;
    width: calc( 25%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-md-2 {
    width: 13.66666667% !important;
    width: calc( 16.66666667%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-md-1 {
    width: 5.33333333% !important;
    width: calc( 8.33333333%  -  30px ) !important;
  }
}
@media (min-width: 2400px) {
  .sv-portal-2-col .sv-btn-container-inline .sv-col-lg-12 {
    width: 97% !important;
    width: calc( 100%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-lg-11 {
    width: 88.66666667% !important;
    width: calc( 91.66666667%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-lg-10 {
    width: 80.33333333% !important;
    width: calc( 83.33333333%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-lg-9 {
    width: 72% !important;
    width: calc( 75%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-lg-8 {
    width: 63.66666667% !important;
    width: calc( 66.66666667%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-lg-7 {
    width: 55.33333333% !important;
    width: calc( 58.33333333%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-lg-6 {
    width: 47% !important;
    width: calc( 50%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-lg-5 {
    width: 38.66666667% !important;
    width: calc( 41.66666667%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-lg-4 {
    width: 30.33333333% !important;
    width: calc( 33.33333333%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-lg-3 {
    width: 22% !important;
    width: calc( 25%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-lg-2 {
    width: 13.66666667% !important;
    width: calc( 16.66666667%  -  30px ) !important;
  }
  .sv-portal-2-col .sv-btn-container-inline .sv-col-lg-1 {
    width: 5.33333333% !important;
    width: calc( 8.33333333%  -  30px ) !important;
  }
}
.sv-portal-2-col .sv-panel-footer .sv-btn-container .sv-btn {
  margin-bottom: 6px !important;
}
@media (min-width: 1536px) {
  .sv-portal-2-col .sv-panel-footer .sv-btn-container .sv-btn {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 1535px) {
  .sv-portal-2-col .sv-panel-footer .sv-btn-container div:last-child {
    margin-bottom: -6px !important;
  }
  .sv-portal-2-col .sv-panel-footer .sv-btn-container.sv-btn-container-inline {
    margin-bottom: -6px !important;
  }
}
.sv-portal-2-col .sv-visible-xs,
.sv-portal-2-col .sv-visible-sm,
.sv-portal-2-col .sv-visible-md,
.sv-portal-2-col .sv-visible-lg {
  display: none !important;
}
.sv-portal-2-col .sv-visible-xs-block,
.sv-portal-2-col .sv-visible-xs-inline,
.sv-portal-2-col .sv-visible-xs-inline-block,
.sv-portal-2-col .sv-visible-sm-block,
.sv-portal-2-col .sv-visible-sm-inline,
.sv-portal-2-col .sv-visible-sm-inline-block,
.sv-portal-2-col .sv-visible-md-block,
.sv-portal-2-col .sv-visible-md-inline,
.sv-portal-2-col .sv-visible-md-inline-block,
.sv-portal-2-col .sv-visible-lg-block,
.sv-portal-2-col .sv-visible-lg-inline,
.sv-portal-2-col .sv-visible-lg-inline-block {
  display: none !important;
}
.sv-portal-2-col .sv-hidden-xs,
.sv-portal-2-col .sv-hidden-sm,
.sv-portal-2-col .sv-hidden-md,
.sv-portal-2-col .sv-hidden-lg {
  display: block !important;
}
.sv-portal-2-col table.sv-hidden-xs,
.sv-portal-2-col table.sv-hidden-sm,
.sv-portal-2-col table.sv-hidden-md,
.sv-portal-2-col table.sv-hidden-lg {
  display: table !important;
}
.sv-portal-2-col tr.sv-hidden-xs,
.sv-portal-2-col tr.sv-hidden-sm,
.sv-portal-2-col tr.sv-hidden-md,
.sv-portal-2-col tr.sv-hidden-lg {
  display: table-row !important;
}
.sv-portal-2-col th.sv-hidden-xs,
.sv-portal-2-col td.sv-hidden-xs,
.sv-portal-2-col th.sv-hidden-sm,
.sv-portal-2-col td.sv-hidden-sm,
.sv-portal-2-col th.sv-hidden-md,
.sv-portal-2-col td.sv-hidden-md,
.sv-portal-2-col th.sv-hidden-lg,
.sv-portal-2-col td.sv-hidden-lg {
  display: table-cell !important;
}
@media (max-width: 1535px) {
  .sv-portal-2-col .sv-visible-xs {
    display: block !important;
  }
  .sv-portal-2-col table.sv-visible-xs {
    display: table !important;
  }
  .sv-portal-2-col tr.sv-visible-xs {
    display: table-row !important;
  }
  .sv-portal-2-col th.sv-visible-xs,
  .sv-portal-2-col td.sv-visible-xs {
    display: table-cell !important;
  }
  .sv-portal-2-col .sv-visible-xs-block {
    display: block !important;
  }
  .sv-portal-2-col .sv-visible-xs-inline {
    display: inline !important;
  }
  .sv-portal-2-col .sv-visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1536px) and (max-width: 1983px) {
  .sv-portal-2-col .sv-visible-sm {
    display: block !important;
  }
  .sv-portal-2-col table.sv-visible-sm {
    display: table !important;
  }
  .sv-portal-2-col tr.sv-visible-sm {
    display: table-row !important;
  }
  .sv-portal-2-col th.sv-visible-sm,
  .sv-portal-2-col td.sv-visible-sm {
    display: table-cell !important;
  }
  .sv-portal-2-col .sv-visible-sm-block {
    display: block !important;
  }
  .sv-portal-2-col .sv-visible-sm-inline {
    display: inline !important;
  }
  .sv-portal-2-col .sv-visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1984px) and (max-width: 2399px) {
  .sv-portal-2-col .sv-visible-md {
    display: block !important;
  }
  .sv-portal-2-col table.sv-visible-md {
    display: table !important;
  }
  .sv-portal-2-col tr.sv-visible-md {
    display: table-row !important;
  }
  .sv-portal-2-col th.sv-visible-md,
  .sv-portal-2-col td.sv-visible-md {
    display: table-cell !important;
  }
  .sv-portal-2-col .sv-visible-md-block {
    display: block !important;
  }
  .sv-portal-2-col .sv-visible-md-inline {
    display: inline !important;
  }
  .sv-portal-2-col .sv-visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 2400px) {
  .sv-portal-2-col .sv-visible-lg {
    display: block !important;
  }
  .sv-portal-2-col table.sv-visible-lg {
    display: table !important;
  }
  .sv-portal-2-col tr.sv-visible-lg {
    display: table-row !important;
  }
  .sv-portal-2-col th.sv-visible-lg,
  .sv-portal-2-col td.sv-visible-lg {
    display: table-cell !important;
  }
  .sv-portal-2-col .sv-visible-lg-block {
    display: block !important;
  }
  .sv-portal-2-col .sv-visible-lg-inline {
    display: inline !important;
  }
  .sv-portal-2-col .sv-visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 1535px) {
  .sv-portal-2-col .sv-hidden-xs {
    display: none !important;
  }
}
@media (min-width: 1536px) and (max-width: 1983px) {
  .sv-portal-2-col .sv-hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1984px) and (max-width: 2399px) {
  .sv-portal-2-col .sv-hidden-md {
    display: none !important;
  }
}
@media (min-width: 2400px) {
  .sv-portal-2-col .sv-hidden-lg {
    display: none !important;
  }
}
/*additional styles for datatables and tablesaw within e:Vision Portal Content mode - most come from sv-table (default BootStrap styling)*/
.sv-portal-2-col div.dataTables_wrapper > div.row > div,
.sv-portal-2-col div.dataTables_length {
  text-align: inherit;
}
.sv-portal-2-col div.dataTables_filter {
  text-align: right;
}
@media screen and (max-width: 1535px) {
  .sv-portal-2-col div.dataTables_wrapper > div.row > div,
  .sv-portal-2-col div.dataTables_length,
  .sv-portal-2-col div.dataTables_filter {
    text-align: center;
  }
}
@media only all {
  .sv-portal-2-col .tablesaw-stack td,
  .sv-portal-2-col .tablesaw-stack th {
    text-align: left;
    display: block;
  }
  .sv-portal-2-col .tablesaw-stack td.sv-text-right,
  .sv-portal-2-col .tablesaw-stack th.sv-text-right {
    text-align: right;
  }
  .sv-portal-2-col .tablesaw-stack td.sv-text-center,
  .sv-portal-2-col .tablesaw-stack th.sv-text-center {
    text-align: center;
  }
  .sv-portal-2-col .tablesaw-stack td.sv-text-justify,
  .sv-portal-2-col .tablesaw-stack th.sv-text-justify {
    text-align: justify;
  }
  .sv-portal-2-col .tablesaw-stack tr {
    clear: both;
    display: table-row;
  }
  .sv-portal-2-col .tablesaw-stack td .tablesaw-cell-label,
  .sv-portal-2-col .tablesaw-stack th .tablesaw-cell-label {
    display: block;
    padding: 0 .6em 0 0;
    width: 30%;
    display: inline-block !important;
  }
  .sv-portal-2-col .tablesaw-stack th .tablesaw-cell-label-top,
  .sv-portal-2-col .tablesaw-stack td .tablesaw-cell-label-top {
    display: block;
    padding: .4em 0;
    margin: .4em 0;
    width: 100%;
    font-weight: normal;
  }
  .sv-portal-2-col .tablesaw-cell-label {
    display: block;
  }
  .sv-portal-2-col .tablesaw-stack tbody th.group {
    margin-top: -1px;
  }
  .sv-portal-2-col .tablesaw-stack th.group b.tablesaw-cell-label {
    display: none !important;
  }
}
@media (max-width: 1535px) {
  .sv-portal-2-col .tablesaw-stack thead td,
  .sv-portal-2-col .tablesaw-stack thead th {
    display: none;
  }
  .sv-portal-2-col .tablesaw-stack tbody td,
  .sv-portal-2-col .tablesaw-stack tbody th {
    clear: left;
    float: left;
    width: 100%;
  }
  .sv-portal-2-col .tablesaw-stack tbody td.sv-text-right,
  .sv-portal-2-col .tablesaw-stack tbody th.sv-text-right,
  .sv-portal-2-col .tablesaw-stack tbody td.sv-text-center,
  .sv-portal-2-col .tablesaw-stack tbody th.sv-text-center,
  .sv-portal-2-col .tablesaw-stack tbody td.sv-text-justify,
  .sv-portal-2-col .tablesaw-stack tbody th.sv-text-justify {
    text-align: left !important;
  }
  .sv-portal-2-col .tablesaw-cell-label {
    vertical-align: top;
  }
  .sv-portal-2-col .tablesaw-cell-content {
    max-width: 67%;
    display: inline-block;
  }
  .sv-portal-2-col .tablesaw-stack td:empty,
  .sv-portal-2-col .tablesaw-stack th:empty {
    display: none;
  }
  .sv-portal-2-col .tablesaw-stack tbody tr td {
    border-top: none;
  }
  .sv-portal-2-col .tablesaw-stack tbody tr {
    border-bottom: 1px solid #ddd;
  }
  .sv-portal-2-col .tablesaw-stack tbody tr:last-child {
    border-bottom: none;
  }
}
@media (min-width: 1534px) {
  .sv-portal-2-col .tablesaw-stack tr {
    display: table-row;
  }
  .sv-portal-2-col .tablesaw-stack td,
  .sv-portal-2-col .tablesaw-stack th,
  .sv-portal-2-col .tablesaw-stack thead td,
  .sv-portal-2-col .tablesaw-stack thead th {
    display: table-cell;
    margin: 0;
  }
  .sv-portal-2-col .tablesaw-stack td .tablesaw-cell-label,
  .sv-portal-2-col .tablesaw-stack th .tablesaw-cell-label {
    display: none !important;
  }
}
@media only all {
  .sv-portal-2-col .tablesaw-swipe th.tablesaw-cell-hidden,
  .sv-portal-2-col .tablesaw-swipe td.tablesaw-cell-hidden {
    display: none;
  }
}
@media only all {
  .sv-portal-2-col .tablesaw-columntoggle th.tablesaw-priority-6,
  .sv-portal-2-col .tablesaw-columntoggle td.tablesaw-priority-6,
  .sv-portal-2-col .tablesaw-columntoggle th.tablesaw-priority-5,
  .sv-portal-2-col .tablesaw-columntoggle td.tablesaw-priority-5,
  .sv-portal-2-col .tablesaw-columntoggle th.tablesaw-priority-4,
  .sv-portal-2-col .tablesaw-columntoggle td.tablesaw-priority-4,
  .sv-portal-2-col .tablesaw-columntoggle th.tablesaw-priority-3,
  .sv-portal-2-col .tablesaw-columntoggle td.tablesaw-priority-3,
  .sv-portal-2-col .tablesaw-columntoggle th.tablesaw-priority-2,
  .sv-portal-2-col .tablesaw-columntoggle td.tablesaw-priority-2 {
    display: none;
  }
}
@media (min-width: 1536px) {
  .sv-portal-2-col .tablesaw-columntoggle th.tablesaw-priority-2,
  .sv-portal-2-col .tablesaw-columntoggle td.tablesaw-priority-2 {
    display: table-cell;
  }
}
@media (min-width: 1984px) {
  .sv-portal-2-col .tablesaw-columntoggle th.tablesaw-priority-3,
  .sv-portal-2-col .tablesaw-columntoggle td.tablesaw-priority-3 {
    display: table-cell;
  }
  .sv-portal-2-col .tablesaw-columntoggle tbody td {
    line-height: 2;
  }
}
@media (min-width: 2400px) {
  .sv-portal-2-col .tablesaw-columntoggle th.tablesaw-priority-4,
  .sv-portal-2-col .tablesaw-columntoggle td.tablesaw-priority-4 {
    display: table-cell;
  }
}
@media only all {
  .sv-portal-2-col .tablesaw-columntoggle th.tablesaw-cell-hidden,
  .sv-portal-2-col .tablesaw-columntoggle td.tablesaw-cell-hidden {
    display: none;
  }
  .sv-portal-2-col .tablesaw-columntoggle th.tablesaw-cell-visible,
  .sv-portal-2-col .tablesaw-columntoggle td.tablesaw-cell-visible {
    display: table-cell;
  }
}
